flow.json
[{"id":"f24d3b69.c7a43","type":"tab","label":"Twitter Sentiment Analysis","disabled":false,"info":""},{"id":"924fbcf7.eb6768","type":"twitter-credentials","z":"","screen_name":"tedhtchang"},{"id":"18783820.220bc","type":"tokens","z":"f24d3b69.c7a43","name":"tokenizer","x":242,"y":255,"wires":[["a2d33080.4203e"]]},{"id":"e48f6b5d.7c9568","type":"debug","z":"f24d3b69.c7a43","name":"Show Sentiment","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":549,"y":346,"wires":[]},{"id":"a2d33080.4203e","type":"bert-sentiment","z":"f24d3b69.c7a43","name":"Bert model","model":"http://localhost:3000/model/model.json","x":248,"y":345,"wires":[["e48f6b5d.7c9568"]]},{"id":"c3949f3e.18fc2","type":"twitter in","z":"f24d3b69.c7a43","twitter":"924fbcf7.eb6768","tags":"#tensorflow","user":"false","name":"","inputs":1,"x":233,"y":33,"wires":[["cd8156a0.26d738"]]},{"id":"cd8156a0.26d738","type":"function","z":"f24d3b69.c7a43","name":"Sanitize","func":"function stripPunctuation(text){\n  text = text.replace(/[,-\\/#!$%\\^&\\*;:{}=\\-_`~()@\\+\\?><\\[\\]\\+]/g,\"\");\n  text = text.replace(/[\\t\\n\\r]/g, \"\")\n  return text;\n}\nvar payload = msg.payload;\nmsg.payload = stripPunctuation(payload);\nreturn msg;","outputs":1,"noerr":0,"x":243,"y":161,"wires":[["18783820.220bc","bdaa63e3.e58d78"]]},{"id":"bdaa63e3.e58d78","type":"debug","z":"f24d3b69.c7a43","name":"Show Tweet","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":504,"y":160,"wires":[]}]