bert-sentiment/example-flow.json
[
  {
    "id": "bf4f729f.2f61f",
    "type": "bert-sentiment",
    "z": "aeadfe1.4135d",
    "name": "Bert Sentiment Analysis",
    "model": "http://127.0.0.1:8080/model.json",
    "x": 350,
    "y": 200,
    "wires": [
      [
        "74344111.cb511"
      ]
    ]
  },
  {
    "id": "f285dd6e.3d7c1",
    "type": "inject",
    "z": "aeadfe1.4135d",
    "name": "",
    "topic": "Hello, my dog is cute. ",
    "payload": "101, 7592, 1010, 2026, 3899, 2003, 10140, 1012, 102",
    "payloadType": "str",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 130,
    "y": 200,
    "wires": [
      [
        "bf4f729f.2f61f"
      ]
    ]
  },
  {
    "id": "74344111.cb511",
    "type": "debug",
    "z": "aeadfe1.4135d",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 590,
    "y": 200,
    "wires": []
  }
]
